<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<link rel="stylesheet" href="/css/bootstrap.css"></link>
<link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>

<script th:src="@{/js/query-3.5.1.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.js}"></script>

<title>공통 에러 페이지</title>
</head>
<body>
	<header class="container">
		<div class="jumbotron">
			<h1>공통 에러 페이지 입니다.</h1>
		</div>
	</header>
	<main class="container">
		<section class="row">
			<article class="col-sm-8">
				<!-- ExceptionHandler 파일에서 넘어 온 exception임 -->
				<p th:text="${exception}"></p>
				<ul th:each="list : ${exception.getStrackTrace()}" th:text="${list.toString()}">
				</ul>
			</article>
		</section>
	</main>
</body>
</html>